/*...set box model...*/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/*...layout...*/
body {
  background-color: $offwhite;
  width: 100%;
  margin: 1rem;
  position: absolute;

  main {
    background-color: $offwhite;
    border: 3rem solid lighten($darkblue, 30%);

    .who {
      background-color: $offwhite;
      text-align: center;
    }

    .info {
      background-color: $lightblue;
      font-family: $font-fam;
    }
  }
}

/*...text...*/
@mixin font($size, $style) {
  font-family: $font-fam;
  color: $word;
  font-size: $size;
  font-style: $style;
}

h1 {
  @include font($font-size * 1.2, normal);
}
h2 {
  @include font($font-size * 1, italic);
}
p {
  @include font($font-size * 0.8, normal);
}

figure {
  margin: none;
  padding: 0;
  border: none;
  display: inline;

  .linkedLogo {
    display: inline;
  }
  figcaption {
    @include font($font-size * 0.8, normal);
    display: inline;
    font-weight: bolder;
  }
}

/*...image...*/
@mixin profile_image($width, $border-radius) {
  width: $width;
  border-radius: $border-radius;
}

.headshot {
  @include profile_image(85%, 50%);
  position: relative;
  padding: 1.2rem;
}
