/*... responsive design...*/
@media screen and (max-width: 499px) {
  main {
    margin: 1rem;
    padding: 0.2rem;

    .who {
      margin: 1.5rem 0;
      margin-bottom: 0;
      padding: 0.5rem;
    }
    .info {
      margin: 2rem;
      margin-bottom: none;
      border: none;
      padding: 1rem;
      line-height: 1em;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  main {
    margin: 1.2rem;
    padding: 0.4rem;

    .who {
      margin: 2rem 0;
      margin-bottom: 0;
      padding: 1rem;

      .headshot {
        @include profile_image(75%, 50%);
      }

      h1 {
        @include font($font-size * 1.6, normal);
      }
      h2 {
        @include font($font-size * 1.2, italic);
      }
    }
    .info {
      margin: 3rem;
      margin-bottom: none;
      border: none;
      padding: 1.5rem;
      line-height: 1.5em;

      p {
        @include font($font-size, normal);
      }
    }
  }
}

@media screen and (min-width: 701px) {
  main {
    margin: 2rem auto;
    padding: 0.6rem;
    width: 80%;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;

    .who {
      margin: 2rem 0;
      margin-bottom: 0;
      padding: 1rem;
      width: 34%;
      height: 50%;
      position: relative;

      .headshot {
        @include profile_image(100%, 50%);
        position: relative;
      }

      h1 {
        @include font($font-size * 1.6, normal);
      }
      h2 {
        @include font($font-size * 1.2, italic);
      }
    }
    .info {
      margin: 2rem;
      margin-bottom: none;
      border: none;
      padding: 1.5rem;
      line-height: 2em;
      width: 66%;
      height: 50%;
      position: relative;

      p {
        @include font($font-size, normal);
      }
    }
  }
}
