/*...set box model...*/
html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

/*...layout...*/
body {
  background-color: $offwhite;
  width: 100%;
  margin: 1rem;
  position: absolute;

  .card {
    background-color: $offwhite;
    border: 3rem solid lighten($darkblue, 30%);

    .who {
      background-color: $offwhite;
      text-align: center;
    }

    .info {
      background-color: $lightblue;
      font-family: $font-fam;
      padding-left: none;
      border-left: none;
      text-align: left;
    }
  }
}

/*...text...*/
@mixin font($size, $style) {
  font-family: $font-fam;
  color: $word;
  font-size: $size;
  font-style: $style;
}

h1 {
  @include font($font-size * 1.2, normal);
}
h2 {
  @include font($font-size * 1, italic);
}
ul {
  border-left: none;
}
li {
  @include font($font-size * 0.8, normal);
  list-style: none;
  padding-left: none;
  border-left: none;
}

/*...image...*/
@mixin profile_image($width, $border-radius) {
  width: $width;
  border-radius: $border-radius;
}
.who {
  img {
    @include profile_image(85%, 50%);
    position: relative;
    padding: 1.2rem;
  }
}
