/*... Color palette...*/
$lightblue: #90e0ef;
$darkblue: #023e8a;
$offwhite: #f1faee;
$darkgrey: #161a1d;

/*...variables of color...*/
$word: lighten($darkgrey, 15%);

/*...variables of font family and base font size...*/
$font-fam: "Gill Sans", sans-serif;
$font-size: 1em;
